e-agenda/.settings/org.eclipse.core.resources.prefs
e-agenda/.settings/org.eclipse.m2e.core.prefs
e-agenda/e-agenda-platform-jar/.classpath
e-agenda/e-agenda-platform-jar/.project
e-agenda/e-agenda-platform-jar/.settings/
e-agenda/e-agenda-share-jar/.classpath
e-agenda/e-agenda-share-jar/.project
e-agenda/e-agenda-share-jar/.settings/
e-agenda/integration-tests/.settings/
e-agenda/integration-tests/.classpath
e-agenda/integration-tests/.project
e-agenda/alf_data_dev/
e-agenda/target/
e-agenda/e-agenda-platform-jar/src/main/resources/.gitignore
e-agenda/e-agenda-platform-jar/dependency/
e-agenda/integration-tests/src/main/resources/rebel.xml
.project
.idea
*.iml
target
*.log*
alf_data_dev
